@import 'ui-flag';
@import 'bootstrap-flex';
@include flag-icon(us);
@include flag-icon(gb);
@include flag-icon(de);

td {
  padding: 0.25rem 2rem !important;
  vertical-align: middle;
  line-height: 1.5;
}

th,td {
  text-align: center;
}

table.left td {
  text-align: left;
}

h4 {
  padding-top: 1rem;
}
